---
layout: 404
permalink: /404.html
---

<div class="d-flex w-100 h-100 mx-auto flex-column">
  <div class="mb-auto">
  <header>
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

        {% include nav.md %}

    </div>
  </div>
  </div>
  </header>
  </div>

  <main class="cover text-center">
      <h2>404</h1>
      <p>你来到了没有知识的荒原 :(</p>
      {% include _sns.md %}
  </main>

  <div class="mt-auto pb-3">
    <div class="text-center">
        {% include _copyright.md %}
    </div>
  </div>
</div>


